body {
    background-color: #fdfcf8;
}

.nav a {
    text-transform: uppercase;
    color: #333333;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    padding: 14px 11px;
}

.nav li {
    display: inline;
}

.header h1 {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 50px;
    color: #3c1f3c;
    text-align: center;
}
.header p {
    text-transform: uppercase;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: #333333;
}





