.nav a {
    text-transform: uppercase;
    color: #5a5a5a;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 11px;
    padding: 14px 11px;
}

.nav li {
    display: inline;
}



