@import "compass";

// Font Weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font - Paragraphs
$base-font-family: 'Cabin', Helvetica, Arial, sans-serif;
$base-font-weight: $bold;
$base-font-size: 12px;
$base-font-color: #333333;
$base-line-height: 1.4;

// Header Font
$header-font-family: 'Lobster', Georgia, Times, serif;
$header-font-weight: $regular;
$header-font-size: 50px;
$header-altsize: 35px;
$header-font-color: #3c1f3c;
$header-font-align: center;


@import "modules/all";
